.box{
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: red; */
    margin: 5px;
    border: solid 1px black;

}
#parasection{
   
    color: rgb(20, 20, 20);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.list{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: left;
     margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
}